* {
    background-color: rgb(232, 180, 223);
    text-align: justify;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 
    Arial, sans-serif;
    margin-left: 5px;
    box-sizing: border-box;
}
img {
    border-radius: 50%;
    width: 250px;
    height: auto;
    border: 1px solid;
    padding: 20px;
    margin: 10px;
    background-color: cornflowerblue;
    background-clip: border-box;
}
:is(h1, h2, h4) {
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 10px;
}
a {
    font-size: smaller;
}
ul {
    color: cornflowerblue;
}
ol {
    color: azure;
}
#characteristics {
    color: azure;
}
header {
    font-size: smaller;
    font-style: italic;
    grid-area: topbar;
}
footer {
    font-size: x-small;
    grid-area: footer;
}
p {
    padding: 5px 10px 15px 5px;
}
main {
    display: grid;
    grid-template-areas: 
        "topbar topbar topbar"
        "content content content"
        "footer none none";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 30px auto 70px;
    align-items: justify;
    grid-area: content;
}