* {
    background-color: rgb(232, 180, 223);
}
img {
    border-radius: 50%;
    width: 250px;
    height: auto;
    border: 2px solid;
}
:is(h1, h2, h4) {
    font-family:'Courier New', Courier, monospace
}
a {
    font-size: smaller;
}
ul {
    color: cornflowerblue;
}
ol {
    color: azure;
}
#characteristics {
    color: azure;
}